{% extends 'base.html.twig' %}

{% block title %}
    Zone d'administration
{% endblock %}

{% block body %}
    <h1>Page d'accueil</h1>

    {% include 'product/_list.html.twig' with {products : paginateResults} %}

    <div class="navigation">
        {{ knp_pagination_render(paginateResults) }}
    </div>
{% endblock %}